<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Chuyển kho</title>
        <link rel="stylesheet" href="../../../css/kho.css" />
    </head>
    <body>
        <form action="">
            <div class="title"><h1>Nhập hàng</h1></div>
            <div class="information-import">
                <h3>Thông tin phiếu nhập</h3>
                <div class="information-import-input">
                    <label for="information-import-input">
                        Mã phiếu nhập:
                        <input type="text" />
                    </label>
                </div>
            </div>
        </form>
    </body>
</html>
