

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #222;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.modal {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.8);
    /* Màu nền trắng mờ */
}


.modal-content {
    background-color: #fff;
    color: #000;
    border-radius: 8px;
    width: 400px;
    padding: 20px;
    /*   text-align: center; */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    position: relative;
}

.modal-content h2 {
    margin: 0;
    font-size: 26px;
    color: #333;
}

.modal-content p {
    margin: 20px 0;
    font-size: 16px;
    color: #666;
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 1.5rem;
    color: #999;
    cursor: pointer;
}

.modal-buttons {
    display: flex;
    justify-content: flex-end;
    /* Đẩy các nút sang bên phải */
    gap: 10px;
    /* Khoảng cách giữa các nút */
    margin-top: 20px;
}

.cancel-btn,
.confirm-btn {
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
    /* Hiệu ứng chuyển màu mượt */
}

.cancel-btn {
    background-color: #e0e0e0;
    color: #333;
}

.cancel-btn:hover {
    background-color: #d6d6d6;
    /* Màu nền sáng hơn khi di chuột */
    color: #000;
    /* Chữ đậm hơn */
}

.confirm-btn {
    background-color: #FF0000;
    color: #fff;
}

.confirm-btn:hover {
    background-color: #EE0000;
    /* Màu nền đậm hơn khi di chuột */
    color: #fff;
    /* Giữ chữ màu trắng */
}